<%- include("./partials/header") %>

<div class= "container">
<h1 class="container text-white text-center">About Us</h1>



<table class="container w-75 table table-striped table-dark">
    <thead>
      <tr>
        
        <th scope="col" class="text-center">Day</th>
        <th scope="col" class="text-center">Hours</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-center">Sunday</th>
        <td class="text-center">8:00AM - 6:00PM</td>
        
      </tr>
      <tr>
        <th scope="row" class="text-center">Monday</th>
        <td class="text-center">8:00AM - 6:00PM</td>
        
      </tr>
      <tr>
          <th scope="row" class="text-center">Tuesday</th>
          <td class="text-center">8:00AM - 6:00PM</td>
          
        </tr>
        <tr>
            <th scope="row" class="text-center">Wednesday</th>
            <td class="text-center">8:00AM - 6:00PM</td>
            
          </tr>
          <tr>
              <th scope="row" class="text-center">Thursday</th>
              <td class="text-center">8:00AM - 6:00PM</td>
              
            </tr>
            <tr>
                <th scope="row" class="text-center">Friday</th>
                <td class="text-center">8:00AM - 6:00PM</td>
                
              </tr>
              <tr>
                  <th scope="row" class="text-center">Saturday</th>
                  <td class="text-center">8:00AM - 6:00PM</td>
                  
                </tr>

      
    </tbody>
  </table>
  



<div class="container">
  <h3 class="text-white text-center pb-3">Stop in For a Visit!!</h3>
  <!--The div element for the map -->
  <div class="m-auto container w-75 text-center">
    <iframe
    width="100%"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB7pqjdvahNpPu1BMNIDl-OJpqHdE5uMU4
      &q=Radiant+Auto+LLP" allowfullscreen>
  </iframe>

</div>

</div>

<%- include("./partials/footer") %>